<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- google 웹 폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Pen+Script&display=swap"
        rel="stylesheet">

    <title>T.A.T_My Trip</title>

    <script>
        // review 상자 open/close 함수
        function openClose() {
            if ($("#comment").css("display") == "block") {
                $("#comment").hide();
                $("#btn-review").text("후기상자 열기");
            } else {
                $("#comment").show();
                $("#btn-review").text("후기상자 닫기");
            }
        }

        // myPage review 저장 함수
        function saveReview() {
            $.ajax({
                type: "POST",
                url: "/api/review",
                data: { data_give: "전달하자!!" },
                success: function (response) {
                    console.log(response)
                }
            })
        }

        // myPage 여행 삭제 함수
        function deleteTravel() {
            $.ajax({
                type: "POST",
                url: "/api/delete",
                data: { data_give: "전달하자!!" },
                success: function (response) {
                    console.log(response)
                }
            })
        }

        // main page 명소 검색 API 요청 함수
        function searchAttraction() {
            attraction = $('#region').text();
            $.ajax({
                type: "POST",
                url: "/api/search-1",
                data: { location_give: attraction },
                success: function (response) {
                    console.log(response);
                }
            })
        }


    </script>
    <!-- 자체 CSS link -->
    <link rel="stylesheet" href="/static/tatstyle.css" type="text/css">

</head>

<body>
    <div class="wrap">
        <h2 >여행 1</h2>
        <div class="trip-box" id="trip-box">
            <div class="card card-region">
                <div class="card-body">
                    <h5 class="card-region-title">부산</h5>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/static/exam.jpeg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title">해운대</p>
                    <p class="card-address">부산 해운대 바닷가</p>
                    <p class="card-phone"></p>
                    <a class="card-url" href="https://www.bada.com">https://www.asdf.com</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/static/exam.jpeg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title">해운대 게스트하우스</p>
                    <p class="card-address">부산 해운대 바닷가 앞</p>
                    <p class="card-phone"></p>
                    <a class="card-url" href="https://www.bada.com">https://www.bada.com</a>
                </div>
            </div>
        </div>
        <button onclick="openClose()" type="button" class="btn btn-secondar mypage-btn1" id="btn-review">후기상자 열기</button>
        <button onclick="deleteTravel()" type="button" class="btn btn-secondary mypage-btn2" id="btn-review">여행 삭제</button>
        <div class="comment" id="comment" style="display:none">
            <textarea>가나다라마바사아자차카타파하 </textarea>
            <button onclick="saveReview()" type="button" class="btn btn-secondary mypage-btn3">후기 저장</button>
        </div>
    </div>
</body>

</html>