<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- google 웹 폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Pen+Script&display=swap"
        rel="stylesheet">

    <title>T.A.T_My Trip</title>


    <!-- 자체 CSS link -->
    <link rel="stylesheet" href="/static/tatstyle.css" type="text/css">
    <!-- 자체 script  -->
    <!-- <script type="text/javascript" src="/static/tatscript.js"></script>  -->
    <script>
        // 문서 새로고침 시 동작하는 함수
        $(document).ready(function () {
                $('#wrap-card').empty();
                showMyPage();
            });

        // review 상자 open/close 함수
        function openClose(num) {
            if ($("#comment" + num).css("display") == "block") {
                $("#comment" + num).hide();
                $("#btn-review" + num).text("후기상자 열기");
            } else {
                $("#comment" + num).show();
                $("#btn-review" + num).text("후기상자 닫기");
            }
        }

        // myPage 호출 함수
        function showMyPage() {
            $('#wrap-card').empty();
            $.ajax({
                type: "GET",
                url: "/api/getMyPage",
                data: {},
                success: function (response) {
                    console.log(response);
                    mytrip_receive = response['all_reviewdata'];
                    for (i = 0; i < mytrip_receive.length; i++) {
                        region_name = mytrip_receive[i]['region'];
                        place_name = mytrip_receive[i]['place_name'];
                        place_url = mytrip_receive[i]['place_url'];
                        place_phone = mytrip_receive[i]['place_phone'];
                        place_address = mytrip_receive[i]['place_address'];
                        acc_name = mytrip_receive[i]['accommodation_name'];
                        acc_url = mytrip_receive[i]['accommodation_url'];
                        acc_phone = mytrip_receive[i]['accommodation_phone'];
                        acc_address = mytrip_receive[i]['accommodation_address'];
                        temp_html = `<h2 >My Trip ${i + 1}</h2>
                        <div class="trip-box" id="trip-box" >
                            <div class="card card-region" style="background-image: url('/static/imgs/${region_name}.jpeg')">
                                <div class="card-body">
                                    <h5 class="card-region-title" id="city0">${region_name}</h5>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="/static/imgs/exam.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">${place_name}</p>
                                    <p class="card-address">${place_address}</p>
                                    <p class="card-phone">${place_phone}</p>
                                    <a class="card-url" href="${place_url}">${place_url}</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="/static/imgs/exam.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">${acc_name}</p>
                                    <p class="card-address">${acc_address}</p>
                                    <p class="card-phone">${acc_phone}</p>
                                    <a class="card-url" href="${acc_url}">${acc_url}</a>
                                </div>
                            </div>
                        </div>
                        <div class="trip-btns">
                            <button onclick="openClose(${i})" type="button" class="btn btn-primary reviewbox-btn" id="btn-review${i}">후기상자 열기</button>
                            <button onclick="deleteTravel(${i})" type="button" class="btn btn-danger delete-btn" id="btn-delete">여행 삭제</button>
                        </div>
                        <div class="comment${i}" id="comment${i}" style="display:none">
                            <textarea class="review${i}">가나다라마바사아자차카타파하 </textarea>
                            <button onclick="saveReview(${i})" type="button" class="btn btn-info comment-save-btn">후기 저장</button>
                        </div>`;
                        console.log(temp_html);
                        $('#wrap-card').append(temp_html);
                    }
                }
            })
        }

        // myPage 여행 삭제 함수
        function deleteTravel(num) {
            review = $("#review" + num);
            // id = "";
            // token = {};
            // num = 0;
            $.ajax({
                type: "POST",
                url: "/api/delete",
                data: { id_give: id, token_give: token, num_give: num, review_give: review },
                success: function (response) {
                    console.log(response)
                    showMyPage();
                }
            })
        }
        
        // function deleteTravel(num) {
        //     alert(num + "상자 삭제 완료!")
        //     id = "";
        //     token = {};
        //     num = 0;
        //     $.ajax({
        //         type: "POST",
        //         url: "/api/delete",
        //         data: { id_give: id, token_give: token, num_give: num, review_give: review },
        //         success: function (response) {
        //             console.log(response)
        //             showMyPage();
        //         }
        //     })
        // }
        // function saveReview(num) {
        //     alert(num + "상자 저장 완료!")
        //     review = $("#review" + num);
        //     id = "";
        //     token = {};
        //     num = 0;
        //     $.ajax({
        //         type: "POST",
        //         url: "/api/delete",
        //         data: { id_give: id, token_give: token, num_give: num, review_give: review },
        //         success: function (response) {
        //             console.log(response)
        //             showMyPage();
        //         }
        //     })
        // }
        function saveReview(num) {
            let review = $("#review"+num).val()
            let today = new Date().toISOString()
            $.ajax({
                type: "POST",
                url: "/api/review",
                data: {
                    review_give: comment,
                    date_give: today
                },
                success: function (response) {
                    $("#modal-post").removeClass("is-active")
                    window.location.reload()
                }
            })
        }

        // main page 명소 검색 API 요청 함수
        function searchAttraction() {
            attraction = $('#region').text();
            $.ajax({
                type: "POST",
                url: "/api/search-1",
                data: { location_give: attraction },
                success: function (response) {
                    console.log(response);
                }
            })
        }
    </script>
</head>

<body>
    <div class="wrap-card" id="wrap-card">
        
    </div>
</body>

</html>